#lines {
    position: relative;
}

#lines::before {
    content: "";
    display: block;
    width: 190px;
    height: 1px;
    background: black;
    left: 1%;
    top: 57%;
    position: absolute;
}

#lines::after {
    content: "";
    display: block;
    width: 190px;
    height: 1px;
    background: black;
    right: 1%;
    top: 57%;
    position: absolute;
}

#strengthInfo {
  font-size: 0.8rem;
}

#checkbox {
  position: relative;
}

#checkbox::before {
    content: "";
    display: block;
    width: 520px;
    height: 1px;
    background: black;
    left: 1%;
    bottom: 127%;
    position: absolute;
}

#checkbox::after {
    content: "";
    display: block;
    width: 520px;
    height: 1px;
    background: black;
    left: 1%;
    top: 137%;
    position: absolute;
}

.containerCheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  .containerCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 25%;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    
  border-radius: 15px;
  }
  
  .containerCheck:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .containerCheck input:checked ~ .checkmark {
    background-color: green;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: block;
    color: grey;
  }
  
  .containerCheck input:checked ~ .checkmark:after {
    display: block;
  }
  
  .containerCheck .checkmark:after {
    left: 6px;
    top: 5px;
    width: 8px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }